.btn {
  background: var(--green);
  padding: 1.2rem 3rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: var(--white);
  margin-top: 1.5rem;
}

.btn:hover {
  background: var(--orange);
}
