.home > *:not(.banner) {
  padding: 5rem 9%;
}

/* media quearies */
@media (max-width: 1024px) {
  .home > *:not(.banner) {
    padding: 5rem 5%;
  }
}

@media (max-width: 800px) {
  .home > *:not(.banner) {
    padding: 5rem 3rem;
  }
}
@media (max-width: 450px) {
  .home > *:not(.banner) {
    padding: 5rem 2rem;
  }
}
