.banner .slide {
  height: 85vh;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.banner .slide-1 {
  background: url(../../../public/images/slider-1.jpg) center no-repeat;
}

.banner .slide-2 {
  background: url(../../../public/images/slider-2.jpg) center no-repeat;
}

.banner .slide-3 {
  background: url(../../../public/images/slider-3.jpg) center no-repeat;
}

.banner .swiper-button-next:after {
  margin-right: 3rem;
}

.banner .swiper-button-prev:after {
  margin-left: 3rem;
}

.banner .swiper-button-next::after,
.swiper-button-prev:after {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  background: var(--green);
  padding: 1rem;
  border-radius: 0.5rem;
}

.banner .swiper-button-next:hover::after {
  background: var(--orange);
}

.banner .swiper-button-prev:hover::after {
  background: var(--orange);
}

.banner .slide-3 .content,
.banner .slide-1 .content {
  margin-left: 56%;
}

.banner .slide-2 .content {
  margin: 0 auto;
}

.banner .slide h1 {
  font-size: 5.5rem;
  line-height: 7rem;
  color: var(--green);
}

.banner .slide-1 h1 {
  color: var(--orange-light);
}

.banner .slide-2 h1 {
  color: var(--red);
}
.banner .slide .content p {
  font-weight: 500;
  margin: 1rem 0;
}

.banner .slide-2 .btn {
  background: var(--white);
  color: var(--black);
}

.banner .slide-2 .btn:hover {
  background: var(--red);
  color: var(--white);
}

.banner .slide-1 .btn {
  background: var(--orange-light);
}

.banner .slide-1 .btn:hover {
  background: var(--green);
}

/* media quearies */
@media (max-width: 450px) {
  .banner .slide .content {
    margin-left: 20%;
  }
}
